body {
 	font-size: 16px;
}

/** HEADER **/
#header-nav {
 	background-color: white;

}

.navbar {
	padding: 0 10%;
	margin-bottom: 0;
}

.navbar div {

}

.navbar-brand {
 	padding: 10px;
 	background-color: #277DFE;
 	height: 100px;
 	padding-top: 40px;
}

.navbar-brand h1 {
 	color: white;
 	font-size: 1.5em;
 	font-weight: bold;
 	margin-top: 0;
 	margin-bottom: 0;
}
#collapsable-nav {
	padding: 0;

}

.navbar-header {
	margin-left: 25%;
}

.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
	border: 1px solid #61122f;
}
.navbar-header button.navbar-toggle {
 	clear: both;
 	margin-top: -80px;
}

#nav-list a {
	color: #4C4C4C;
}

/* END HEADER */

#img1 {
	background-image: url(../img/mt-0132-slide02.jpg);
	background-position: center;
    background-repeat: no-repeat;
  	background-attachment: fixed;
  	background-size: cover;
  	height: 50vh;
}


@media (max-width:767px)
{
	/*NAV LIST MOBILE*/
	.navbar {
	  padding: 0;
	}

	#nav-list {
	  margin: 0;
	  width: 100%;
	}

	#nav-list li {
	  border-top: 2px solid black;
	}

	#nav-list li:last-child {
		border-bottom: 2px solid black;
	}

	#nav-list a {
	  text-align: center;
	}

	#nav-list a:hover {
	  background: #E7E7E7;
	}
	#nav-list a span {
	  font-size: 1.8em;
	}
}

@media (min-width:768px)
{
	#nav-list li a{
		font-weight: 500;
		font-size: 18px;
	}

	#nav-list{
		margin-top:30px;
		margin-bot:100px;
	}
}