body {
 	font-size: 16px;
}

/** HEADER **/

header {
    min-height: 100px;
}

#header-img {
    height: 100px;
}

#header-nav {
 	background-color: white;
 	border: none;

}

.navbar {
	padding: 0 10%;
	margin-bottom: 0;
}

.navbar div {

}

.navbar-brand {
 	background-color: #277DFE;
 	height: 100px;
    padding: 0;
}

.navbar-brand:hover {
    background-color: #277DFE !important;
}

#collapsable-nav {
	padding: 0;

}

.navbar-header {
	margin-left: 25%;
}

.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
	border: 1px solid #61122f;
}
.navbar-header button.navbar-toggle {
 	clear: both;
 	margin-top: -70px;
 	margin-right: 30px;
}

#nav-list a {
	color: #4C4C4C;
}

#nav-list a:hover {
	color: black;
}

/* END HEADER */

/* CONTAINER1 */

#printer {
	height: 80vh;
}

#img1 {
	background: rgb(249,249,249); /* Old browsers */
	background: -moz-radial-gradient(center, ellipse cover, rgba(249,249,249,1) 0%, rgba(232,232,232,1) 100%); /* FF3.6-15 */
	background: -webkit-radial-gradient(center, ellipse cover, rgba(249,249,249,1) 0%,rgba(232,232,232,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: radial-gradient(ellipse at center, rgba(249,249,249,1) 0%,rgba(232,232,232,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9f9f9', endColorstr='#e8e8e8',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
	background-position: center;
    background-repeat: no-repeat;
  	background-size: cover;
  	height: 80vh;
  	padding: 0;
}

#row1mid {
	width: 80%;
	margin: auto;
}

#row1mid div:first-child {
	padding-top: 10%;
}

#container1_text {
	color: #277DFE;
	font-size: 2.5em;
    text-transform: uppercase;
    font-weight: bold;
}

#container1_text_bot {
	color: grey;
	font-size: 2em;
    text-transform: uppercase;
    font-weight: bold;
}


#container1 {
	background-color: #f7f7f7;
}

/*TABS*/
.tab {
	background-color: white;
	margin-right: 40px;
	margin-top: 30px;
    min-height: 470px;
}

.tab:last-child {
	margin-bottom: 60px;
}

.tabcontents {
	padding: 10px;
}

.tab h3 {
	color: #333333;
	font-size: 2em;
	min-height: 70px;
	margin-bottom: 20px;
}

.tab span{
	margin-bottom: 30px;
	overflow: hidden;
}

.tab_icon {
	margin-bottom: 20px;
}

/*TABS*/

#row2header span {
	color: #277DFE;
	font-size: 3em;
}

#row2mid {
	width: 80%;
	margin: auto;
	padding-top: 30px;
}

#row2mid>div {
	padding: 0;
}

#row3header span:first-child{
    color: #277DFE;
	font-size: 3em;
    font-weight: bold;
}

#row3header span:last-child{
    color: gray;
	font-size: 2em;
}


/* END CONTAINER1 */

/* CONTAINER2 */
#container2 {
	background-color: white;
	padding-left: 0;
	padding-right: 0;
}

#container2 .row {
	width: 80%;
	margin: auto;
}

#container2 .row>div {
	padding: 0;
}

#container2_div>div {
	padding: 30px;
}

#imgs {
	padding: 50px;
}

#imgs img {
	height: 275px;
	border-radius: 8px;
	margin-bottom: 10px;
	margin-right: 5px;
}

/* END CONTAINER2 */

/* CONTAINER3 */
#container3 {
	padding-left: 0;
	padding-right: 0;
	min-height: 500px;
	padding-top: 75px;
}

#container3 .row {
	width: 80%;
	margin: auto;
}

#container3 .row>div {
	padding: 0;
}

.parallax { 
    /* The image used */
    background-image: url(../img/blue-abstract-background.jpg);

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#container3_div div {
	color: white;
	padding: 15px 80px;
	text-align: center;
}

#container3_div div h3 {
	font-size: 3em;
	font-weight: bold;
	margin: 0;
	text-align: center;
	margin-bottom: 100px;
}

#iframe_div iframe {
	display: block;
	margin: auto;
}

#container3 a {
	color: white;
	font-size: 2em;
}
/* END CONTAINER3 */

/* CONTAINER 4 */

#container4 {
	background-color: black;
	height: 300px;
}

#container4_div {
	color: white;
	text-align: center;
	padding-top: 30px;
}

#container4_div h3 {
	font-size: 3em;
	margin-bottom: 100px;
}

#container4_div span {
	font-size: 2em;
}

/* END CONTAINER 4 */

/* OTHER */

.anchor {
    display: block;
    position: relative;
    top: -100px;
    visibility: hidden;
}

@media (max-width:767px)
{
	/*NAV LIST MOBILE*/
	.navbar {
	  padding: 0;
	}

	#nav-list {
	  margin: 0;
	  width: 100%;
	}

	#nav-list a {
	  text-align: center;
	}

	#nav-list a:hover {
	  background: #E7E7E7;
	}
	#nav-list a span {
	  font-size: 1.8em;
	}
	/*OTHER*/
	#iframe_div iframe {
		width: 500px;
		height: 300px;
		margin-bottom: 50px;
	}
}

@media (min-width:768px)
{
	#nav-list li a{
		font-weight: 500;
		font-size: 18px;
	}

	#nav-list{
		margin-top:30px;
	}
}

@media (max-width: 990px)
{
	#img1 {
		height: 120vh;
	}
	#printer {
		width: 80vw;
		height: auto;
	}
}